Repository f3rno64/http-server-md: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different, yamllint -f auto -s, markdownlint

.lintstagedrc.json:

{
  "*.{json,js}": ["eslint", "prettier --list-different"],
  "*.yml": ["yamllint -f auto -s"],
  "README.md": ["markdownlint"]
}

fix: replace ESM-only update-notifier with simple-update-notifier
  cli.js
  package.json
Due: eslint, prettier --list-different

chore(eslint): disable semicolon requirement in linter config
  .eslintrc.json
Due: eslint, prettier --list-different

feat: wrap y.parse() call in promise catch handler to log error in cli.js
  cli.js
Due: eslint, prettier --list-different

fix: handle case where user config is missing template or md fields
  lib/config/index.js
  lib/config/merge.js
Due: eslint, prettier --list-different

chore: update lockfile
  pnpm-lock.yaml
Due: none

feat: add GitHub CI and NPM Publish workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .yamllint.yml
Due: yamllint -f auto -s

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different

refactor: bump min engine to node v18, and only lint + format:prettier_check in workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  package.json
Due: eslint, prettier --list-different, yamllint -f auto -s

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor: rename package to http-server-md, config file to httpmdrc
  CHANGELOG.md
  DOCUMENTATION.md
  README.md
  cli.js
  index.js
  lib/commands/init_template/yargs_config.js
  lib/config/filenames.js
  lib/config/index.js
  lib/types/base_render_data.js
  package.json
Due: eslint, prettier --list-different, markdownlint

refactor: rename author username from vestigial f3rno to current f3rno64
  CHANGELOG.md
  README.md
  index.js
  package.json
Due: eslint, prettier --list-different, markdownlint

fix(README): pnpm global install command
  README.md
Due: markdownlint

refactor: rename config file .sermitrc.json to .httpmdrc.json
  .httpmdrc.json
Due: eslint, prettier --list-different

refactor(meta): update description, keywords, and readme title
  README.md
  package.json
Due: eslint, prettier --list-different, markdownlint

fix: match description in manifest with readme title
  README.md
  package.json
Due: eslint, prettier --list-different, markdownlint

chore(release): 1.1.2
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different

fix: run format and lint:fix
  pnpm-lock.yaml
Due: none

chore(release): 1.1.3
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different

refactor(workflows): use node version 20 for CI and NPM Publish
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: yamllint -f auto -s

chore(release): 1.1.4
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different

fix: try "publish-with-pnpm" action from GH marketplace to fix auth issue
  .github/workflows/publish.yml
Due: yamllint -f auto -s

chore(release): 1.1.5
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different

fix: try another publish workflow...
  .github/workflows/publish.yml
Due: yamllint -f auto -s

chore(release): 1.1.6
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different

fix: try yet another publish workflow...
  .github/workflows/publish.yml
Due: yamllint -f auto -s

chore(release): 1.1.7
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different

fix: run only format:prettier:check in publish workflow
  .github/workflows/publish.yml
Due: yamllint -f auto -s

chore(release): 1.1.8
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different

fix: correct lint script names in publish workflow
  .github/workflows/publish.yml
Due: yamllint -f auto -s

chore(release): 1.1.9
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different

refactor: revert to standard pnpm workflows, fix auth issue later
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: yamllint -f auto -s

chore(release): 1.1.10
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different

fix: only run format:prettier:check in workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: yamllint -f auto -s

chore(release): 1.1.11
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different

chore: pnpm audit --fix
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --list-different

chore(release): 1.1.12
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different

fix: add pnpm-lock.yaml to .prettierignore
  .prettierignore
Due: none

chore(release): 1.1.13
  CHANGELOG.md
  package.json
Due: eslint, prettier --list-different
